{{#each fables}}
  <div class="col s12 m6">
      <div class="card medium">
          <div class="card-image">
              <img src="{{imageUrl}}">
              <span class="card-title">{{name}} av {{artist}}</span>
          </div>
          <div class="card-content">
              <p>{{description}}</p>
          </div>
          <div class="card-action">
              <a href="#">Lyssna på berättelsen</a>
          </div>
      </div>
  </div>
{{/each}}
