<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col topbar">
        <button class="js-back-button mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect">
            &lt;&lt; Tillbaka till översikten
        </a>
    </div>
</div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col mdl-shadow--2dp fable-description">
        <h1>{{name}}</h1>
        <h4><em>{{artist}}</em></h4>
        <p>{{description}}</p>
    </div>
</div>
<div class="mdl-grid">
    <div class="js-listen mdl-cell mdl-cell--12-col mdl-shadow--2dp fable-description">
    </div>
</div>
