<div id="{{modalId}}" class="modal modal__bg">
<div class="modal__dialog">
    <div class="modal__content">
        <div class="modal__header">
            <div class="modal__title">
                <h2 class="modal__title-text">{{artist.name}}</h2>
            </div>

            <span class="mdl-button mdl-button--icon mdl-js-button  material-icons  modal__close"></span>
        </div>


        <div class="modal__text">
            <p class="artist-description">
                {{artist.description}}
            </p>
        </div>
    </div>
</div>
