<div class="mdl-grid">
    {{#each this}}
        <div class="mdl-cell mdl-cell--4-col">
            <div data-id="{{id}}"
                class="js-card overview-card mdl-card mdl-shadow--2dp"
                style="background: url('{{imageUrl}}') center / cover;">
            </div>
        </div>
    {{/each}}
</div>
