<div class="mdl-grid">
    {{#each this}}
        <div class="mdl-cell mdl-cell--4-col">
            <div data-id="{{@key}}" class="js-card overview-card mdl-card mdl-shadow--2dp" style="background: url('{{imageUrl}}') center / cover;">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="overview-card__text">{{name}} - {{artist}}</span>
              </div>
            </div>
        </div>
    {{/each}}
</div>
