<h4>Välj språk för att lyssna på fabeln</h4>
{{#each this}}
    <span class="mdl-list__item-primary-content">
    <button data-language="{{@key}}" class="js-language-button language-button mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">{{this}}</button>
{{/each}}
<div class="audio-player"></div>
